/* You can add global styles to this file, and also import other style files */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

$custom-typography: mat-typography-config(
  $font-family: "Roboto"
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$savikuja-primary: mat-palette($mat-teal, 700);
$savikuja-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$savikuja-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$savikuja-theme: mat-light-theme(
  (
    color: (
      primary: $savikuja-primary,
      accent: $savikuja-accent,
      warn: $savikuja-warn
    )
  )
);

// Colors

$color_primary: #00796b;
$color_bold: #004d40;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($savikuja-theme);

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-container {
    padding: 15px;
    width: calc(100% - 30px);
}

.outlet-container.nav-open .page-container {
  margin-left: 240px;
  width: calc(100vw - 270px);
}

.outlet-container.unauthorized .page-container::before {
    content: '';
    background-color:white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.outlet-container.unauthorized .page-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;  
    margin-left: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 5px solid grey;
    border-top-color: black;
    animation: loading 2s linear infinite;
    z-index: 10000;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  mat-form-field {
    margin-bottom: 30px;
    width: 500px;
    max-width: calc(100vw - 30px);
  }
}

html, body { 
  height: 100%; 
  overflow-x: hidden;
}

.table {
  width: 100%;
  margin-top: 15px;
}

.info_text {
  display: flex;
  background-color: #e6e6e6;
  width: 500px;
  padding: 15px;
  border-radius: 8px;
  p {
    padding-left: 15px;
    font-size: 12px;
    margin: 0;
  }
}

.mat-button {
  border: solid 1px rgba(0, 0, 0, 0.12)!important;
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

button, a {
  display: flex;
  align-items: center;
  .mat-icon {
    padding-right: 10px;
  }
}

.mat-button-toggle-button .mat-icon {
  padding-right: 10px;
}