<h2 mat-dialog-title></h2>
<mat-dialog-content>
    <div class="media-list" *ngIf="mediaService.allMedia | async">
        <div *ngFor="let media of mediaService.allMedia | async" class="media-list-item">
            <img *ngIf="media.type == 'image'" [src]="media.downloadURL | media_pipe | async" class="media-list-item-image">
            <h4>{{media.title}}</h4>
            <button mat-raised-button (click)="select(media)">{{ 'select' | translate }}</button>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="''">{{ 'close' | translate }}</button>
</mat-dialog-actions>