<div class="page-container" *ngIf="form">
    <form [formGroup]="form">
        <div>
            <img [src]="form.get('photoURL').value | media_pipe | async" class="profile-img">
            <br>
            <button style="margin-bottom: 30px;" mat-button (click)="selectProfileImg()"><mat-icon>insert_photo</mat-icon>{{'selectProfileImg' | translate}}</button>
            <br>
        </div>
        <mat-form-field>
            <mat-label>{{'email' | translate}}</mat-label>
            <input matInput formControlName="email" color="primary">
            <mat-hint align="start">
                <strong>{{'email_hint' | translate}}</strong>
            </mat-hint>
            <mat-error *ngIf="form.get('email').hasError('required')">{{'required_error' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'displayName' | translate}}</mat-label>
            <input matInput formControlName="displayName" color="primary">
            <mat-hint align="start">
                <strong>{{'displayName_hint' | translate}}</strong>
            </mat-hint>
            <mat-error *ngIf="form.get('displayName').hasError('required')">{{'required_error' | translate}}</mat-error>
        </mat-form-field>
        <button [disabled]="form.invalid" mat-raised-button color="primary" type="button" (click)="submit()">{{ 'submit' | translate }}</button>
    </form>
</div>